.main {
  width: 100%;
  min-height: 100vh;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.main h1 {
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 1;
  color: #000536;
  text-align: center;
}

.main p {
  margin-bottom: 20px;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  color: #000536;
}
