.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f5ac7;
}

.header__logo {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #ffffff;
}

.header__theme-button {
  margin-left: auto;
  border: 1px solid #ffffff;
  padding: 4px 8px;
  color: #ffffff;
  cursor: pointer;
}
