.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f5ac7;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}
